@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #007B84;
  --secondary-color: #00565C;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
